/********* Defaulf css *******/

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
button:focus {
    outline: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    margin: 0;
}

a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section{
    padding-bottom: 10px;
}
.hover-border{
    position: relative;
}
.hover-border:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    background: #333;
    transition: width .3s;
    left: 0;
}
.hover-border:hover:after{
width: 100%;
}

/********* Common css *********/
.no-padding{
    padding: 0;
}




/********* Header css *********/
.rtcamp-nav{
    background-color: #eeeaeb;
}
.header-top-area{
    padding-top: 20px;
}
.header-middle-area{
    padding-bottom: 20px;
}
.top-nav-right{
    float: right;
}
.top-nav-right ul{
    font-size: 0px;
}
.top-nav-right ul li{
    display: inline-block;
    line-height: 1;
    padding: 0 10px;
}
.top-nav-right ul li:first-child{
border-right: 1px solid #333333;
}
.top-nav-right ul li a{
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.align-item{
    align-items: flex-end;
}
.site-search{
    background: url(/images/googlelogo.jpg) left center no-repeat rgb(255, 255, 255);
    background-size: 60px;
    font-size: 12px;
    text-indent: 60px;
    width: 50%;
    border: 1px solid #7f9ebb;
    padding: 2px 0px;
}
.header-bottom-area{
        background-color: #e6c36e;
}
.navbar-nav li a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 12px 12px;
    color: #000;
}
.navbar-nav li a:hover{
    color: #fff;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-nav .active a{
    color: #fff;
    background-color: #C8A551;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-toggler{
    border-color: #333;
}
.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Main Css*/
.custom-border{
    border-bottom: 5px solid #dcd7d3;
}
.carousel-indicators{
    right: 25px;
    left: auto;
    margin-right: 0px;
    margin-left: 0px;
}
.carousel-indicators li{
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #86705E;
    border: 2px solid #E4C16E;
    border-radius: 19px;
}
.carousel-indicators .active{
    background-color: #86705E;
    border: 2px solid #ffffff;
}
.carousel-item img{
    width: 100%;
}
.welcome-text{
    background-color: #EEEAEB;
    padding:15px;
}
.welcome-text h3{
    color: #b9a071;
    font-size: 1.5rem;
}
.welcome-img{
    border: 6px solid #d5d5d5;
    margin: 0 10px 10px 0;
}
.welcome-text p{
    font-size: 14px;
    margin-bottom: 10px;
}
.welcome-text a{
    color: #91794a;
    font-size: 14px;
    font-weight: bold;
}
.divider{
    border-top: 1px solid #eee;
    width: 100%;
}
.video-slider, .partners-slider{
    width: 90%;
    margin: auto;
    margin-bottom: 0px !important;
}
.video-slider .slick-slide {
    margin: 0px 0px;
}
.video-slider .slick-slide > img {
    border: 5px solid #D5CCB4;
    height: 100px;
    width: 95%;
    margin: auto;
    cursor: pointer;
}
.partners-slider .slick-slide > img {
margin: 0 auto;
}
.video-slider .slick-slide > img:hover {
border-color: #e6c36e;
}
.slick-prev{
    left: -52px;
}
.slick-next{
    right: -57px;
}
.title{
    font-size: 16px;
    font-weight: bold;
    background-color: #f4eede;
    color: #333333;
    border-left: 9px solid #e6c36e;
    padding: 0 10px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
}
.row1, .row2{
    padding-left: 15px;
    padding-right: 15px;
}
.row1 .item, .row2 .item{
    padding: 5px;
}
.thumbnail img{
    border: 4px solid #cac4b4;
    display: inline-block;
    cursor: pointer;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
}
.thumbnail img:hover{
border: 4px solid #e6c36e;
}
.thumbnail a{
    font-size: 14px;
    color: #044e8e;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.slide-row img{
    border: 4px solid #cac4b4;
}
.slide-row{
    display: flex;
    padding: 0px;
}
.slide-row p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}
/*.news-img{
    padding-right: 10px;
}
.news-heading span{
    font-size: 12px;
}*/
.news-widget{
    padding-bottom: 15px;
}
.news-widget .carousel-item{
    padding-bottom: 10px;
}
.news-main{
    display: flex;
    padding: 10px 0px;
}
.news-widget .carousel-item img{
    border: 4px solid #cac4b4;
}
.news-heading a{
    color: #333333;
    font-size: 14px;
    line-height: 1.25;
}
.news-heading p{
    font-weight: bold;
    margin-bottom: 0px;
}
.news-heading span{
    font-size: 12px;
}
.news-list ul{
    margin-top: 0;
    padding-left: 1em;
    padding-top: 15px;
    list-style-type: none;
}
.news-list ul li {
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 10px;
    font-weight: 100;
}
.news-list ul li:before {
    content: "\00BB \0020" !important;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    left: 0;
}
.news-list ul li a {
   color: #044e8e;
}
.more-news{
    font-size: 12px;
    padding-top: 5px;
}
.weather-customize{
    width: 100% !important;
}
.weather-widget .title{
    margin-bottom: 20px;
}
.time{
    font-size: 54px;
}

/*Footer Css*/
.rtcamp-footer{
    background-color: #e6c36e;
}
.footer-head{
    border-bottom: 1px solid #9c793c;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.footer-list {
    margin-top: 0;
    padding-left: 1em;
    padding-top: 15px;
    list-style-type: none;
}
.footer-list li {
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 10px;
    font-weight: 100;
}
.footer-list li:before {
    content: "\00BB \0020" !important;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    left: 14px;
}
.footer-list li a{
    color: #333;
}
.copyrights {
    margin-top: 40px;
    font-size: 12px;
}
.copyrights p{
    margin-bottom: 0px;
}
.links li{
    display: inline-block;
    line-height: 1;
    padding: 0 5px;
    border-right: 1px solid;
}
.links li:last-child{
    border-right: 0px solid;
}
.links li a{
    color: #333;
}
.disclaimer{
    background-color: #947f4b;
    padding: 10px 0;
}
.disclaimer p{
    color: #f3e3bd;
    font-size: 11px;
    margin-bottom: 0px;
}
.marquee {
    max-height: 300px;
    margin: 1em auto;
    overflow: hidden;
    background: white;
    position: relative;
    box-sizing: border-box;
}

.marquee div{
    top: 100em;
    position: relative;
    box-sizing: border-box;
    animation: marquee 40s linear infinite;
}

.marquee div:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0%   { top:   8em }
    100% { top: -200em }
}
@media (max-width: 576px){
.p-0{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.pl-0{
    padding-left: 15px !important;
}
.pr-0{
    padding-right: 15px !important;
}
.header-middle-area img{
    margin: 0 auto;
    display: block;
    padding: 15px 0px;
}
.site-search{
    width: 100%;
}
.nav>li{
    padding: 5px 0px;
    border-bottom: 1px solid;
}
.nav>li:last-child{
border-bottom: none;
}
.navbar-nav li a{
    padding: 0px;
}
.navbar-nav .active a{
    background-color: transparent;
}
.navbar>.container{
    justify-content: flex-end;
}
.video-slider .slick-slide > img{
    width: auto;
}
.slick-prev{
    left: 0 !important;
}
.slick-next{
    right: 0 !important;
}
.date, .time{
    text-align:center;
}
.row1 .col-lg-3, .row2 .col-lg-3{
    width: 50%;
}
.copyrights{
    margin-top: 15px;
}
.pages-footer, .links-footer{
    padding-bottom: 15px;
}
}
@media (max-width: 980px){
.row1 .col-lg-3, .row2 .col-lg-3{
    width: 50%;
}
.date, .time{
    text-align:center;
}
.nav>li{
    padding: 5px 0px;
    border-bottom: 1px solid;
}
.nav>li:last-child{
border-bottom: none;
}
.navbar-nav li a{
    padding: 0px;
}
.navbar-nav .active a{
    background-color: transparent;
}
.navbar>.container{
    justify-content: flex-end;
}
}